In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# 1) 기준 파일인 opp를 필요한 컬러만 불러오기


opp = pd.read_csv('order_products__prior.csv', usecols=['order_id','product_id','reordered', 'add_to_cart_order'])
opp.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# 2-1) orders에서 필요한 컬럼만 가져오기

orders = pd.read_csv('orders.csv', usecols=['order_id','user_id','order_number'])
orders.head()

   order_id  user_id  order_number
0   2539329        1             1
1   2398795        1             2
2    473747        1             3
3   2254736        1             4
4    431534        1             5

In [8]:
# 2-2) opp와 orders를 order_id를 기준으로 left join

df1 = pd.merge(opp, orders, on='order_id', how='left')
df1.head()

   order_id  product_id  add_to_cart_order  reordered  user_id  order_number
0         2       33120                  1          1   202279             3
1         2       28985                  2          1   202279             3
2         2        9327                  3          0   202279             3
3         2       45918                  4          1   202279             3
4         2       30035                  5          0   202279             3

In [10]:
# 3-1) products에서 필요한 컬럼만 가져오기

pdt = pd.read_csv('products.csv', usecols=['product_id', 'product_name', 'aisle_id','department_id'])
pdt.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [11]:
# 3-2) df1와 pdt를 product_id를 기준으로 left join

df2 = pd.merge(df1, pdt, on='product_id', how='left')
df2.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,product_name,aisle_id,department_id
0,2,33120,1,1,202279,3,Organic Egg Whites,86,16
1,2,28985,2,1,202279,3,Michigan Organic Kale,83,4
2,2,9327,3,0,202279,3,Garlic Powder,104,13
3,2,45918,4,1,202279,3,Coconut Butter,19,13
4,2,30035,5,0,202279,3,Natural Sweetener,17,13

In [12]:
# 4-1) aisles 가져오기

aisles = pd.read_csv('aisles.csv')
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [13]:
# 4-2) df2와 aisles를 aisle_id를 기준으로 left join

df3 = pd.merge(df2, aisles, on='aisle_id', how='left')
df3.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,product_name,aisle_id,department_id,aisle
0,2,33120,1,1,202279,3,Organic Egg Whites,86,16,eggs
1,2,28985,2,1,202279,3,Michigan Organic Kale,83,4,fresh vegetables
2,2,9327,3,0,202279,3,Garlic Powder,104,13,spices seasonings
3,2,45918,4,1,202279,3,Coconut Butter,19,13,oils vinegars
4,2,30035,5,0,202279,3,Natural Sweetener,17,13,baking ingredients

In [14]:
# 5-1) departments 가져오기
dpt = pd.read_csv('departments.csv')
dpt.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [15]:
# 5-2) df2와 aisles를 aisle_id를 기준으로 left join

df4 = pd.merge(df3, dpt, on='department_id', how='left')
df4.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,product_name,aisle_id,department_id,aisle,department
0,2,33120,1,1,202279,3,Organic Egg Whites,86,16,eggs,dairy eggs
1,2,28985,2,1,202279,3,Michigan Organic Kale,83,4,fresh vegetables,produce
2,2,9327,3,0,202279,3,Garlic Powder,104,13,spices seasonings,pantry
3,2,45918,4,1,202279,3,Coconut Butter,19,13,oils vinegars,pantry
4,2,30035,5,0,202279,3,Natural Sweetener,17,13,baking ingredients,pantry

In [17]:
# 6) 'is_organic' 컬럼 추가하기

df5 = df4.copy()
df5['is_organic'] = df5['product_name'].str.contains('Organic', case=False)
df5.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,product_name,aisle_id,department_id,aisle,department,is_organic
0,2,33120,1,1,202279,3,Organic Egg Whites,86,16,eggs,dairy eggs,True
1,2,28985,2,1,202279,3,Michigan Organic Kale,83,4,fresh vegetables,produce,True
2,2,9327,3,0,202279,3,Garlic Powder,104,13,spices seasonings,pantry,False
3,2,45918,4,1,202279,3,Coconut Butter,19,13,oils vinegars,pantry,False
4,2,30035,5,0,202279,3,Natural Sweetener,17,13,baking ingredients,pantry,False

In [18]:
df5['is_organic'].value_counts()

is_organic
False    22183774
True     10250715
Name: count, dtype: int64

In [19]:
# 예진님 파일이랑 비교

df6 = pd.read_csv('merge_organic_prior.csv')
df6['is_organic'].value_counts()

is_organic
False    22183774
True     10250715
Name: count, dtype: int64

In [3]:
df7 = pd.read_csv('data_aa2.csv')
df7.head()

,Unnamed: 0,user_id,order_id,product_id,product_name,aisle_id,aisle,department_id,department,order_number,add_to_cart_order,reordered,is_organic
0,0,202279,2,33120,Organic Egg Whites,86,eggs,16,dairy eggs,3,1,1,True
1,1,202279,2,28985,Michigan Organic Kale,83,fresh vegetables,4,produce,3,2,1,True
2,2,202279,2,9327,Garlic Powder,104,spices seasonings,13,pantry,3,3,0,False
3,3,202279,2,45918,Coconut Butter,19,oils vinegars,13,pantry,3,4,1,False
4,4,202279,2,30035,Natural Sweetener,17,baking ingredients,13,pantry,3,5,0,False